---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';
import Post from '../storyblok/Post.astro';
import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
    version: import.meta.env.DEV ? 'draft' : 'published',
    content_type: 'post',
})

const colors = ['#dee9ec', '#dce0dc', 'white'];

const posts = data.stories.map((story, i) => {
    return {
        title: story.name,
        date: story.published_at ?? story.created_at,
        image: story.content.image,
        body: story.content.body,
        color: colors[i % 3],
    };
})
---

<Layout title="Blog" bodyClass="bg-crema text-gris">
    <Heading>BLOG</Heading>

    <div class="mt-10 columns-md space-y-4">
        {posts.map(post => <Post blok={post} />)}
    </div>
</Layout>

<style is:global>
    .post > p {
        text-align: justify;
    }

    .post a {
        color: #7dbccf;
        text-decoration: underline;
    }

    .post ul {
        list-style: inside disc;
    }

    .post ul p {
        display: inline;
    }

    .post ol {
        list-style: inside decimal;
    }

    .post ol p {
        display: inline;
    }

    .post blockquote p {
      padding: 12px;
      background: white;
      border-radius: 8px;
    }

    .post blockquote p::before {
      content: '\201C';
    }

    .post blockquote p::after {
      content: '\201D';
    }
</style>
