---
const { title, bodyClass } = Astro.props;

import Header from '../components/Header.astro';
import favicon from '../img/logo/logo-llave-azul.svg';
import '../styles/main.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon.src}/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class:list={['relative leading-snug', bodyClass]}>
        <Header />

        <main class="flex flex-col items-center px-4 lg:px-16 2xl:px-40 pt-4 pb-12">
            <slot />
        </main>
	</body>
</html>
