---
const { title, bodyClass, mainClass } = Astro.props;

import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import favicon from '../img/logo/logo-llave-azul.svg';
import '../styles/main.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon.src}/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <ViewTransitions />
	</head>
	<body class:list={['relative min-h-screen leading-snug', bodyClass]}>
        <Header />

        <main class:list={['flex flex-col items-center px-4 lg:px-16 2xl:px-32 pb-12', mainClass]}>
            <slot />
        </main>
	</body>
</html>
